<div class="select-wrapper" [ngClass]="{'select-error': hasBeenTouched && value === ''}">
    <div class="input-label" [ngClass]="{'text-danger': hasBeenTouched && value === ''}">{{inputLabel}}<span
            *ngIf="isRequired">*</span>:</div>
    <div class="value-wrapper" (click)="showValues = !showValues; hasBeenTouched=true;">
        <p *ngIf="value !== ''">{{value}}</p>
        <p *ngIf="value === ''" class="placeholder">{{placeholder}}</p>
    </div>
    <div class="select-values" *ngIf="showValues">
        <div class="select-value-item" (click)="handleSelectValueClicked(item)" *ngFor="let item of inputValue">
            {{item}}
        </div>
    </div>
</div>
<div class="error-messages">
    <p *ngIf="hasBeenTouched && value === ''">Please select an item</p>
</div>